<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head-values') %>
    <title><%= title %></title>
</head>

<body>
    <section class="first_page">
        <header class="header">
            <div class="container">
                <nav class="nav_head">
                    <div class="burger">
                        <nav class="nav">
                            <ul class="pt-5">
                                <li class="li-1"></li>
                                <li class="li-2"></li>
                                <li class="li-3"></li>
                            </ul>
                            <div class="burger__links">
                                <a target="_blank" href="/sign-page">Sign In/Up</a>
                                <a target="_blank" href="/buy-ticket">Buy ticket</a>
                                <a class="burger__links_con" href="#foot-info">Contact</a>
                            </div>
                        </nav>
                    </div>
                    <div class="logo_header">
                        <img src="./pictures/icons/logo.png" alt="BeOkker" />
                    </div>
                    <div class="contacts_header">
                        <p class="num_head">+380 98 777 6688</p>
                        <a href="https://telegram.im/@BeOkker" target="_blank"><img class="icon_head"
                                src="./pictures/icons/telegram-white-icon.png" alt="telegram" /></a>
                        <a href="https://www.instagram.com/er_4ik_/" target="_blank"><img class="icon_head"
                                src="./pictures/icons/insta-white-icon.png" alt="instagram" /></a>
                        <a href="mailto:ervin.osmanov.007@gmail.com" target="_blank"><img class="icon_head"
                                src="./pictures/icons/gmail-white-icon.png" alt="gmail" /></a>
                    </div>
                </nav>
            </div>
        </header>
        <div class="container">
            <div class="main_content__first-page">
                <div class="description_main">
                    <h1 class="description_main-head">GT3 Series Auto Racing</h1>
                    <p class="description_main-text">
                        Racing in the GT3 series is not limited to one championship.<br />
                        There are many car competitions all over the world in which<br />
                        cars of the GT3 series participate. The most famous GT3<br />
                        series championship takes place in Europe.
                    </p>
                    <a href="https://www.youtube.com/gtworld/videos" target="_blank">
                        <button class="watch_button">
                            <div class="watch_button-pict">
                                <img src="./pictures/button/watch-button.png" alt="watch matches" />
                            </div>
                            <p>WATCH MATCHES</p>
                            <img class="watch_button-play" src="./pictures/icons/play-icon.png" alt="play" />
                        </button>
                    </a>
                </div>
                <div class="video_main">
                    <img class="play-button_head" src="./pictures/icons/play-icon.png" alt="play" />
                    <video class="video_main__movie" controls
                        src="./pictures/EPIC HIGHLIGHT! - Blancpain GT Series 2019.mp4"
                        poster="./pictures/auto/gt2_01.jpg" loop></video>
                </div>
            </div>
        </div>
    </section>

    <section class="second_page">
        <div class="container">
            <div class="head_news">
                <h3>NEWS</h3>
            </div>
            <div class="content_news">
                <div class="content_news-picture">
                    <img src="./pictures/auto/gt2_01.jpg" alt="auto-picture" />
                </div>
                <div class="content_news-text">
                    <div class="content_news__text-head">
                        <p>NEW TIME RECORD!!!</p>
                    </div>
                    <div class="content_news__text-descr">
                        <p>
                            The absolute Nurburgring record for<br />
                            modified (modified) series production<br />
                            vehicles (road-licensed) is held by the<br new />Porsche 911 GT2
                            RS MR 991.2 <br />(MR - Manthey Racing) with a lap time<br />of
                            6: 40.33 minutes.
                        </p>
                    </div>
                    <a href="https://www.youtube.com/gtworld/videos" target="_blank">
                        <button class="watch_button">
                            <div class="watch_button-pict">
                                <img src="./pictures/button/watch-button.png" alt="watch matches" />
                            </div>
                            <p>WATCH MATCHES</p>
                            <img class="watch_button-play" src="./pictures/icons/play-icon.png" alt="play" />
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section class="third_page">
        <img class="head_third-page" src="./pictures/back/back-2.jpg" alt="" />
        <div class="container">
            <div class="contents">
                <div class="contents_row">
                    <div class="content-block">
                        <div class="content-block_pictures">
                            <img src="./pictures/auto/timthumb.jpg" alt="" />
                        </div>
                        <div class="content-block_content">
                            <p>
                                Oh Yeah😍.. #GT3_2021 #gt3 #gt3love #gt3fans #feeltheroad
                                #fanpage #welovedtm #racinglife #race
                            </p>
                            <hr />
                            <div class="content-block_content__links">
                                <p>Look latest news<br />on Instagram</p>
                                <a href="https://www.instagram.com/gtopen.official/?hl=ru" target="_blank">
                                    <img class="icon_posts" src="./pictures/icons/insta-white-icon.png"
                                        alt="instagram" />
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="content-block">
                        <div class="content-block_pictures">
                            <img src="./pictures/auto/timthumb.jpg" alt="" />
                        </div>
                        <div class="content-block_content">
                            <p>
                                Oh Yeah😍.. #GT3_2021 #gt3 #gt3love #gt3fans #feeltheroad
                                #fanpage #welovedtm #racinglife #race
                            </p>
                            <hr />
                            <div class="content-block_content__links">
                                <p>Look latest news<br />on Instagram</p>
                                <a href="https://www.instagram.com/gtopen.official/?hl=ru" target="_blank">
                                    <img class="icon_posts" src="./pictures/icons/insta-white-icon.png"
                                        alt="instagram" />
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="content-block">
                        <div class="content-block_pictures">
                            <img src="./pictures/auto/timthumb.jpg" alt="" />
                        </div>
                        <div class="content-block_content">
                            <p>
                                Oh Yeah😍.. #GT3_2021 #gt3 #gt3love #gt3fans #feeltheroad
                                #fanpage #welovedtm #racinglife #race
                            </p>
                            <hr />
                            <div class="content-block_content__links">
                                <p>Look latest news<br />on Instagram</p>
                                <a href="https://www.instagram.com/gtopen.official/?hl=ru" target="_blank">
                                    <img class="icon_posts" src="./pictures/icons/insta-white-icon.png"
                                        alt="instagram" />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="contents_row">
                    <div class="content-block">
                        <div class="content-block_pictures">
                            <img src="./pictures/auto/timthumb.jpg" alt="" />
                        </div>
                        <div class="content-block_content">
                            <p>
                                Oh Yeah😍.. #GT3_2021 #gt3 #gt3love #gt3fans #feeltheroad
                                #fanpage #welovedtm #racinglife #race
                            </p>
                            <hr />
                            <div class="content-block_content__links">
                                <p>Look latest news<br />on Instagram</p>
                                <a href="https://www.instagram.com/gtopen.official/?hl=ru" target="_blank">
                                    <img class="icon_posts" src="./pictures/icons/insta-white-icon.png"
                                        alt="instagram" />
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="content-block">
                        <div class="content-block_pictures">
                            <img src="./pictures/auto/timthumb.jpg" alt="" />
                        </div>
                        <div class="content-block_content">
                            <p>
                                Oh Yeah😍.. #GT3_2021 #gt3 #gt3love #gt3fans #feeltheroad
                                #fanpage #welovedtm #racinglife #race
                            </p>
                            <hr />
                            <div class="content-block_content__links">
                                <p>Look latest news<br />on Instagram</p>
                                <a href="https://www.instagram.com/gtopen.official/?hl=ru">
                                    <img class="icon_posts" src="./pictures/icons/insta-white-icon.png"
                                        alt="instagram" />
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="content-block">
                        <div class="content-block_pictures">
                            <img src="./pictures/auto/timthumb.jpg" alt="" />
                        </div>
                        <div class="content-block_content">
                            <p>
                                Oh Yeah😍.. #GT3_2021 #gt3 #gt3love #gt3fans #feeltheroad
                                #fanpage #welovedtm #racinglife #race
                            </p>
                            <hr />
                            <div class="content-block_content__links">
                                <p>Look latest news<br />on Instagram</p>
                                <a href="https://www.instagram.com/gtopen.official/?hl=ru" target="_blank">
                                    <img class="icon_posts" src="./pictures/icons/insta-white-icon.png"
                                        alt="instagram" />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="contents_row">
                    <div class="content-block">
                        <div class="content-block_pictures">
                            <img src="./pictures/auto/timthumb.jpg" alt="" />
                        </div>
                        <div class="content-block_content">
                            <p>
                                Oh Yeah😍.. #GT3_2021 #gt3 #gt3love #gt3fans #feeltheroad
                                #fanpage #welovedtm #racinglife #race
                            </p>
                            <hr />
                            <div class="content-block_content__links">
                                <p>Look latest news<br />on Instagram</p>
                                <a href="https://www.instagram.com/gtopen.official/?hl=ru" target="_blank">
                                    <img class="icon_posts" src="./pictures/icons/insta-white-icon.png"
                                        alt="instagram" />
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="content-block">
                        <div class="content-block_pictures">
                            <img src="./pictures/auto/timthumb.jpg" alt="" />
                        </div>
                        <div class="content-block_content">
                            <p>
                                Oh Yeah😍.. #GT3_2021 #gt3 #gt3love #gt3fans #feeltheroad
                                #fanpage #welovedtm #racinglife #race
                            </p>
                            <hr />
                            <div class="content-block_content__links">
                                <p>Look latest news<br />on Instagram</p>
                                <a href="https://www.instagram.com/gtopen.official/?hl=ru" target="_blank">
                                    <img class="icon_posts" src="./pictures/icons/insta-white-icon.png"
                                        alt="instagram" />
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="content-block">
                        <div class="content-block_pictures">
                            <img src="./pictures/auto/timthumb.jpg" alt="" />
                        </div>
                        <div class="content-block_content">
                            <p>
                                Oh Yeah😍.. #GT3_2021 #gt3 #gt3love #gt3fans #feeltheroad
                                #fanpage #welovedtm #racinglife #race
                            </p>
                            <hr />
                            <div class="content-block_content__links">
                                <p>Look latest news<br />on Instagram</p>
                                <a href="https://www.instagram.com/gtopen.official/?hl=ru" target="_blank">
                                    <img class="icon_posts" src="./pictures/icons/insta-white-icon.png"
                                        alt="instagram" />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="slider-picture">
        <div class="slider-picture_section">
            <img class="sps-nx1" src="./pictures/auto/nx1.jpg" alt="photo-match" />
            <img class="sps-nx2" src="./pictures/auto/nx2.jpg" alt="photo-match" />
            <img class="sps-nx3" src="./pictures/auto/nx3.jpg" alt="photo-match" />
            <img class="sps-nx4" src="./pictures/auto/nx4.jpg" alt="photo-match" />
            <img class="sps-nx5" src="./pictures/auto/nx5.jpg" alt="photo-match" />
            <div class="slider-picture_section__line-next">
                <div class="next nx1"></div>
                <div class="next nx2"></div>
                <div class="next nx3"></div>
                <div class="next nx4"></div>
                <div class="next nx5"></div>
            </div>
        </div>
    </section>
    <section class="movie">
        <div class="container">
            <div class="movie_head">
                <p>Latest Videos</p>
            </div>
            <div class="movie_video">
                <iframe width="620" height="400" src="https://www.youtube.com/embed/_gojPtJljEs"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen>
                </iframe>
                <iframe width="620" height="400" src="https://www.youtube.com/embed/3SqYJcqy7xw"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
            <div class="movie_button">
                <div></div>
                <a href="https://www.youtube.com/gtworld/videos" target="_blank">
                    <button class="watch_button">
                        <div class="watch_button-pict">
                            <img src="./pictures/button/watch-button.png" alt="watch matches" />
                        </div>
                        <p>WATCH MATCHES</p>
                        <img class="watch_button-play" src="./pictures/icons/play-icon.png" alt="play" />
                    </button>
                </a>
            </div>
        </div>
    </section>
    <section class="posters">
        <div class="posters-line">
            <div class="posters-line_post">
                <a href="https://www.facebook.com/people/The-World-Of-GT3/100050684970484/" target="_blank">
                    <img src="./pictures/posters/11.jpg" alt="photo-post" />
                </a>
            </div>
            <div class="posters-line_post">
                <a href="https://www.facebook.com/people/The-World-Of-GT3/100050684970484/" target="_blank">
                    <img src="./pictures/posters/22.jpg" alt="photo-post" />
                </a>
            </div>
            <div class="posters-line_post">
                <a href="https://www.facebook.com/people/The-World-Of-GT3/100050684970484/" target="_blank">
                    <img src="./pictures/posters/33.jpg" alt="photo-post" />
                </a>
            </div>
            <div class="posters-line_post">
                <a href="https://www.facebook.com/people/The-World-Of-GT3/100050684970484/" target="_blank">
                    <img src="./pictures/posters/44.jpg" alt="photo-post" />
                </a>
            </div>
            <div class="posters-line_post">
                <a href="https://www.facebook.com/people/The-World-Of-GT3/100050684970484/" target="_blank">
                    <img src="./pictures/posters/55.jpg" alt="photo-post" />
                </a>
            </div>
            <div class="posters-line_post">
                <a href="https://www.facebook.com/people/The-World-Of-GT3/100050684970484/" target="_blank">
                    <img src="./pictures/posters/66.jpg" alt="photo-post" />
                </a>
            </div>
            <div class="posters-line_post">
                <a href="https://www.facebook.com/people/The-World-Of-GT3/100050684970484/" target="_blank">
                    <img src="./pictures/posters/77.jpg" alt="photo-post" />
                </a>
            </div>
        </div>
    </section>
    <section class="advertising">
        <div class="container advert">
            <div class="advert-company">
                <a href="https://www.bosch.com/" target="_blank"><img src="./pictures/advertising/Bosch-logo-min.png"
                        alt="" /></a>
            </div>
            <div class="advert-company">
                <a href="https://www.hankooktire.com" target="_blank"><img
                        src="./pictures/advertising/seo_image_logo.png" alt="" /></a>
            </div>
            <div class="advert-company">
                <a href="https://www.bwt.com/" target="_blank"><img src="./pictures/advertising/BWT_logo_2020.png"
                        alt="" /></a>
            </div>
        </div>
    </section>
    <footer class="foot" id="#foot-info">
        <div class="container">
            <div class="foot-con">
                <div class="foot-logo">
                    <a href=".index.html"><img src="./pictures/icons/logo.png" alt="" /></a>
                </div>
                <div class="foot-text">
                    <p>FOLLOW US</p>
                </div>
                <div class="foot-contacts">
                    <div class="foot-contacts_con">
                        <a href="https://telegram.im/@BeOkker" target="_blank"><img
                                src="./pictures/icons/telegram-white-icon.png" alt="telegram" /></a>
                        <a href="https://www.instagram.com/er_4ik_/" target="_blank"><img
                                src="./pictures/icons/insta-white-icon.png" alt="instagram" /></a>
                        <a href="#"><img src="./pictures/icons/facebook-icon.png" alt="facebook" /></a>
                    </div>
                    <div class="foot-contacts_num__scroll">
                        <p>+380 98 006 9193</p>
                        <div class="fcns-img">
                            <img class="fcns-img_go" src="./pictures/icons/scroll-up.png" alt="scroll-up button" />
                        </div>
                    </div>
                    <div class="year">
                        <img src="./pictures/icons/c.png" alt="c" />
                        <p>2021</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="./js/animation.js"></script>
</body>

</html>